:root{
    --colorRojoClaro:#E24E42;
    --colorBlanco:#E9E8EA;
    --colorAmarillo:#E9B000;
    --colorCeleste:#008F95;
    --colorRosa:#EB6E80;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#E9E8EA;
      font-family: 'Raleway', sans-serif;
  }
